@charset "utf-8";

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, Osaka,
    "MS PGothic", sans-serif;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
#body-body {
  overflow: hidden;
}
header {
  padding: 5px 0;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  right: 0;
  background-color: #fff;
}
.wrapper {
  max-width: 1165px;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left {
  display: flex;
}
.header-left p {
  margin-top: 20px;
  margin-bottom: 0;
}
.header-left img {
  width: 128px;
}
.header-right a {
  text-decoration: none;
}
.form-l {
  background-color: #da6b64;
  font-size: 0.9rem;
  font-weight: 300;
  color: aliceblue;
  padding: 11px 40px;
  border-radius: 30px;
  letter-spacing: 2px;
}
.form-l:hover {
  background-color: #d82519;
}
.form-l:active {
  background-color: #ac6d69;
}
.form-s {
  display: none;
}
/*class .main-visual */
.main-visual {
  padding-top: 50px;
  height: 630px;
  background-image: url(./img/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-visual img {
  width: 300px;
}
.main-visual-text h1 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3.5rem;
}
.main-visual-text p {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 20px;
  margin-top: 40px;
}
/*class conversion */
.conversion {
  padding-top: 30px;
  background-color: #ebb94d;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 4px;
}
.conversion-top-text .backcolor {
  display: inline;
  padding: 0;
  color: #d64c42;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
.conversion-fist-text p {
  line-height: 1rem;
}
.conversion-scholarship p {
  line-height: 2.5rem;
}
.conversion a {
  text-decoration: none;
}
.conversion-form {
  margin: 50px auto;
  background-color: #da6b64;
  font-size: 2rem;
  font-weight: 700;
  color: aliceblue;
  border-radius: 50px;
  letter-spacing: 2px;
  max-width: 1080px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conversion-form:hover {
  background-color: #d82519;
}
.conversion-form:active {
  background-color: #c07772;
}
.sns-box {
  display: flex;
  justify-content: center;
}
.good-button {
  margin-left: 5px;
}
/*class introduction */
.introduction {
  padding-top: 40px;
  height: 600px;
  background-image: url(./img/introbottom.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.introduction p {
  font-size: 1.2rem;
  font-weight: 300;
}
.introduction p:nth-child(2) {
  margin-bottom: 0;
}
.introduction strong {
  background: linear-gradient(transparent 70%, #ebb94d 20%);
  font-weight: 700;
}
/*使い回し*/
.newline {
  display: none;
}
.subtitle {
  max-width: 800px;
  height: 100px;
  margin: 30px auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle h2 {
  font-size: 1.8rem;
  font-weight: 700;
}
.subtitle-box {
  width: 50px;
  height: 50px;
  position: absolute;
}
.left-box {
  left: 0;
  top: 0;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
}
.right-box {
  right: 0;
  bottom: 0;
  border-bottom: 4px solid #ebb94d;
  border-right: 4px solid #ebb94d;
}
/*ここまで*/
/* class about */
.about {
  padding: 0 20px 40px 20px;
  background-color: #fef5e0;
}
.about-sorcle {
  position: relative;
  top: -40px;
  display: flex;
  justify-content: center;
}
.about-sorcle p {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #ebb94d;
}
.about-text {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 3px;
}
.five-skills {
  margin: 20px auto;
  padding: 30px 0;
  max-width: 1200px;
  background-color: #fff;
  border: 2px solid #ebb94d;
  border-radius: 5px;
}
.five-skills-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.five-skills-img .img-text {
  margin-left: 20px;
}
.five-skills-img .img-text:first-child {
  margin-left: 0;
}
/*class step*/
.step {
  background-image: url(./img/aboutsecondbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0 100px 0;
}
.step-top-text {
  color: #fff;
  font-weight: 600;
}
.step-top-text h2 {
  font-size: 1.7rem;
  margin-bottom: 20px;
}
.step-top-text p {
  font-size: 1.3rem;
}
.yellow-span {
  color: #ebb94d;
}
.step-conteiner {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.step-box {
  background-color: #fff;
  border-radius: 5px;
  width: 400px;
  margin-left: 20px;
  padding: 10px;
  font-weight: 600;
}
.step-box:first-child {
  margin-left: 0;
}
.step-back-p {
  background-color: #ebb94d;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 30px;
}
.step-smoll {
  font-size: 0.9rem;
}
/*class step-footer  (class stepとはちがうdiv　わざと分けた　役割はstepのfooter)*/
.sec-footer {
  height: 130px;
  background-color: #016ea9;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-footer p {
  margin-bottom: 0;
  letter-spacing: 2px;
}
/*class learning */
.learning {
  margin: 5%;
}
.learning h2 {
  font-size: 1.7rem;
  margin: 4;
}
.learning-smoll {
  font-size: 1rem;
  font-weight: 600;
}
.learning p {
  font-size: 1.3rem;
  font-weight: 300;
  margin: 4%;
}
.learning p:last-child {
  font-size: 1rem;
  font-weight: 600;
}
.learning-boxcover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
}
.learning-box {
  margin-left: 4%;
  width: 15%;
}
.learning-box:first-child {
  margin-left: 0;
}
.learning-box img {
  width: 100%;
}
/*class merit */
.merit {
  background-color: #fef5e0;
  padding: 30px 0 30px 0;
}
.subtitle-merit p {
  font-size: 1.3rem;
  font-weight: 600;
}
.merit-boxcover {
  display: flex;
  justify-content: center;
}
.merit-box {
  margin-left: 30px;
  width: 24%;
  text-align: justify;
}
.merit-box:first-child {
  margin-left: 0;
}
.merit-box h3 {
  color: #ebb94d;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 10px 0;
}
.merit-box p {
  font-weight: 300;
}
.merit-box img {
  width: 100%;
}
.merit-box-backimg {
  display: none;
}
.merit-more {
  background-color: #fff;
  border: 2px solid #ebb94d;
  border-radius: 5px;
  max-width: 1100px;
  padding: 40px 10px 40px 10px;
  margin: 0 auto;
}
.merit-more h3 {
  font-weight: 600;
  color: #ebb94d;
  margin-bottom: 20px;
}
.merit-more h4 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.merit-more p {
  font-weight: 600;
  margin-bottom: 0;
}
.merit-note {
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 50px;
}
/* class member */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.member {
  background-image: url(./img/teacherbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0 30px 0;
  color: #fff;
}
.member-title {
  font-weight: 600;
  margin-bottom: 40px;
}
.member-title:nth-child(2) {
  letter-spacing: 2px;
}
.member-boxcover {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}
.member-box {
  width: 30%;
}
.member-box:first-child {
  margin-right: 25px;
}
.member-box:last-child {
  margin-left: 25px;
}
.member-box img {
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: -30px;
}
.member-box-text {
  border: 3px solid #fff;
  height: 400px;
  width: 100%;
  padding: 40px 30px;
  font-weight: 300;
  letter-spacing: 2px;
}
.member-ex {
  text-align: justify;
}
/* class q-and-a */
.q-and-a {
  background-color: #ebb94d;
  color: #fff;
  padding: 40px 10px 20px 10px;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}
.q-and-a-sercle {
  background-color: #fff;
  color: #ebb94d;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.q-and-a-sercle p {
  margin: 0;
  font-size: 0.9rem;
}
.q-and-a .left-box {
  left: 0;
  top: 0;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
}
.q-and-a .right-box {
  right: 0;
  bottom: 0;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
}
.q-and-a-say {
  width: 50px;
  height: 50px;
  border: 25px solid transparent;
  border-top-color: #ebb94d;
  margin: 0 auto;
}
.question-mes-title {
  margin-bottom: 40px;
}
.question-mes-title h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.question-mes-title p {
  font-weight: 600;
  letter-spacing: 2px;
}
.question-mes-note {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 2px;
}
.companys {
  margin: 40px 0 0 0;
}
.company-box {
  margin: 0 auto;
  display: flex;
  width: 800px;
  text-align: justify;
  color: #777;
  margin-bottom: 40px;
}
.company-box img {
  width: 250px;
  height: auto;
  border: 2px solid #ebb94d;
}
.company-box-text {
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0 40px 0 40px;
}
.company-box u {
  font-size: 1rem;
}
/* class contents */
.contents {
  background-image: url(./img/classbg.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}
.contents-title {
  color: #fff;
  padding-bottom: 50px;
}
.contents-title h2 {
  font-size: 1.8rem;
  font-weight: 600;
}
.contents-title p {
  font-weight: 600;
}
.contents p {
  margin-bottom: 0;
}
.contents-boxcover {
  display: flex;
  justify-content: center;
}
.contents-box {
  align-self: flex-start;
  border: 2px solid #016ea9;
  background-color: #fff;
  border-radius: 5px;
  width: 400px;
}
.contents-box:last-child {
  margin-left: 30px;
}
.contents-box-title {
  padding: 20px 50px;
  background-color: #016ea9;
  color: #fff;
}
.contents-box-title h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}
.contents-box-content p {
  padding: 10px 20px;
  border-bottom: 1px dotted rgb(218, 216, 216);
  font-weight: 600;
  letter-spacing: 2px;
}
.contents-box-content p:last-child {
  border: none;
}
/* class flow */
.fas {
  font-size: 1.2rem;
  font-weight: 400;
}
.flow {
  padding: 60px 0;
}
.flow h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 60px;
}
.flow-show-boxcover {
  margin-top: 50px;
}
.flow-show-box {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 40px 80px 30px 40px;
  background-color: #fef5e0;
  border-radius: 5px;
}
.flow-show-box-left {
  width: 200px;
  flex: none;
}
.flow-show-box-left img {
  margin-bottom: 20px;
}
.flow-show-box-left p {
  margin: 0;
  font-weight: 600;
  font-size: 1.1rem;
  white-space: nowrap;
}
.flow-show-box-right {
  text-align: justify;
}
.flow-show-box-right p {
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 2px;
}
.flow-show-box-right .weight-p {
  font-weight: 600;
  font-size: 1rem;
}
.flow-show-box-right p:last-child {
  margin-bottom: 0;
}
.left-border-box {
  height: 30px;
  max-width: 800px;
  margin: 0 auto;
  border-left: 2px solid #ebb94d;
}
.right-border-box {
  height: 30px;
  max-width: 800px;
  margin: 0 auto;
  border-right: 2px solid #ebb94d;
}
.bottom-border-box {
  height: 2px;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 2px solid #ebb94d;
}
.open-tag {
  width: 10px;
  height: 10px;
  border-top: 4px solid #000;
  border-right: 4px solid #000;
  transform: rotate(-45deg);
  margin-left: auto;
  cursor: pointer;
}

/* class why */
.why {
  padding: 100px 100px 50px 100px;
  background-image: url(./img/bangkokbg.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}
.why-text-box {
  max-width: 1170px;
  margin: 0 auto;
  letter-spacing: 2px;
}
.why-text-box h3 {
  font-size: 1.7rem;
  font-weight: 600;
}
.why-text-box p {
  font-size: 0.9rem;
  font-weight: 300;
}
.why-text-box li {
  font-weight: 600;
  margin-bottom: 10px;
}
.why-text-box h4 {
  font-weight: 600;
}
.why-text-bottom {
  margin-bottom: 20px;
}
/* class saport */
.saport {
  background-color: #f7c23c;
  padding: 40px 0;
}
.saport-title h2 {
  margin-bottom: 40px;
}
.white-p {
  color: #fff;
}
.saport-more {
  position: relative;
  bottom: -20px;
  max-width: 650px;
  margin: 0 auto;
  background-color: #f7c23c;
}
.benefits {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: center;
  border: 2px solid #fff;
  padding: 50px;
}
.benefits-box {
  background-color: #fff;
  border-radius: 100%;
  width: 250px;
  height: 250px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 10px;
}
.benefits-boxcover:nth-child(2) {
  margin: 0 50px;
}
.benefits-box h4 {
  color: #f7c23c;
  font-size: 1.5rem;
  font-weight: 300;
}
.benefits-box p {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 25px;
}
/* class detail */
.detail {
  background-image: url(./img/specialdetail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #fff;
  letter-spacing: 2px;
}
.detail .subtitle-box {
  border-color: #fff;
}
.detail h2 {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 150%;
  margin-bottom: 20px;
}
.detail h3 {
  font-weight: 600;
  margin-bottom: 0;
  line-height: 150%;
}
.detail p {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 150%;
  word-break: break-all;
}
/* class mes */
.mes {
  margin: 50px 0;
}
.mes-boxcover {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: center;
}
.mes-box img {
  width: 200px;
}
.mes-box:nth-child(2) {
  width: 50%;
  text-align: justify;
  margin-left: 30px;
  font-size: 0.9rem;
}
/* class form */
.form {
  background-color: #ebb94d;
  padding: 50px 0;
}
.form-boxcover {
  margin: 0 auto;
  max-width: 1000px;
}
.form-box {
  max-width: 100%;
  padding: 2px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}
.form-box input {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  outline: none;
}
.form-box input:focus {
  border: 2px solid #f7c23c;
}
.form-box textarea {
  width: 100%;
  height: 120px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  outline: none;
}
.form-box textarea:focus {
  border: 2px solid #f7c23c;
}
#submit-botton {
  background-color: #da6b64;
  border: none;
  border-radius: 30px;
  max-width: 1000px;
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}
/* class last-question */
.last-question h2 {
  text-align: center;
  margin-top: 100px;
}
.last-ques-boxcontent {
  max-width: 100%;
  width: 80%;
  margin: 0 auto;
}
.last-ques-box {
  border: 1px solid rgb(209, 203, 203);
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.last-ques-box p {
  letter-spacing: 2px;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0;
}
.last-ques-box-down {
  display: none;
  margin: 2% 5px;
  border-bottom: 1px dotted rgb(204, 201, 201);
}
.last-ques-box-down p {
  font-weight: 600;
  letter-spacing: 2px;
}
.last-ques-box .open-tag {
  width: 20px;
  height: 20px;
  border-top: 6px solid rgb(204, 201, 201);
  border-right: 6px solid rgb(204, 201, 201);
  transform: rotate(-45deg);
  margin-left: auto;
  margin-top: 5px;
  cursor: pointer;
}
/* footer */
footer {
  background-color: #ececec;
  font-size: 0.5rem;
  margin-top: 100px;
  padding: 30px 0;
}
footer a {
  text-decoration: none;
}

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ececec;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page-top .open-tag {
  width: 20px;
  height: 20px;
  border-top: 6px solid #000;
  border-right: 6px solid #000;
  transform: rotate(-45deg);
  margin-left: 0;
  margin-top: 5px;
  cursor: pointer;
}
/*後に読み込まないと反映しないから*/
.trans {
  transform: rotate(135deg);
}
/*読み込み時にさいしょのフェードイン･アウト*/
.start {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9000;
}

.start p {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  max-width: 280px;
}
.start img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 0.7rem;
  }
  .company-box {
    margin-left: 0;
    margin-right: 0;
  }
  .no-show {
    display: none;
  }
  .benefits {
    flex-flow: column;
  }
  .benefits-boxcover:nth-child(2) {
    margin: 0;
  }
  .benefits-box {
    margin: 10px auto;
    letter-spacing: 2px;
  }
  .benefits-box h4 {
    font-size: 2rem;
  }
  .benefits-box p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 800px) {
  /*使い回し*/
  .sp-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .newline {
    display: block;
  }
  .noline {
    display: none;
  }
  /**/
  header {
    padding: 0;
  }
  .header-left {
    flex-flow: column;
    padding: 0 5px;
  }
  .header-left img {
    width: 90px;
    order: 1;
  }
  .header-left p {
    margin-top: 0;
  }
  .form-l {
    display: none;
  }
  .form-s {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #da6b64;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
    color: aliceblue;
    padding: 10px 10px 0 10px;
  }
  .form-s img {
    max-width: 20px;
    margin-bottom: 3px;
  }
  main {
    margin-top: 60px;
  }
  .main-visual {
    background-image: url(./img/mainsp.jpg);
    height: 300px;
  }
  .main-visual img {
    max-width: 300px;
    width: 100%;
  }
  .main-visual-text h1 {
    line-height: 3rem;
  }
  .conversion-fist-text p {
    line-height: 1rem;
  }
  .conversion-scholarship p {
    line-height: 2rem;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  .introduction {
    background-size: contain;
    background-position: bottom;
    height: 650px;
  }
  .subtitle h2 {
    line-height: 40px;
  }
  .subtitle-box {
    width: 25px;
    height: 25px;
    position: absolute;
  }
  .introduction p {
    font-size: 1.5rem;
    line-height: 25px;
    margin-bottom: 2rem;
  }
  .introduction p:nth-child(2) {
    margin-bottom: 2rem;
  }
  .about-sorcle {
    font-size: 1.3rem;
    top: -30px;
  }
  .about-sorcle p {
    width: 60px;
    height: 60px;
  }
  .five-skills {
    padding: 10px 0;
  }
  .five-skills-img img {
    max-width: 30px;
  }
  .img-text {
    margin-bottom: 10px;
  }
  .img-text:last-child {
    margin-bottom: 0;
  }
  .dumy-box {
    width: 100%;
  }
  .last-box img {
    max-width: 60px;
  }
  .step {
    background-image: url(./img/aboutsecondbgsp.jpg);
  }
  .step-conteiner {
    flex-flow: column;
  }
  .step-box {
    margin-left: 0;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 400px;
    width: 100%;
    font-size: 1.1rem;
  }
  .step-back-p {
    margin-bottom: 10px;
  }
  .step-footer {
    height: 100px;
  }
  .learning-box {
    width: 50%;
  }
  .merit-boxcover {
    flex-flow: column;
  }
  .merit-box {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }
  .merit-box img {
    display: none;
  }
  .merit-box-backimg {
    display: block;
    background-size: cover;
    background-position: center;
    height: 120px;
  }
  .merit-box h3 {
    text-align: center;
  }
  .merit-box p {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.1rem;
  }
  .mbb-1 {
    background-image: url(./img/learnfromfreelancer.jpg);
  }
  .mbb-2 {
    background-image: url(./img/learnfromprojects.jpg);
  }
  .mbb-3 {
    background-image: url(./img/actuallyfree.jpg);
  }
  .merit-note {
    font-size: 1rem;
    padding: 0 -5px 0 -5px;
  }
  .member {
    font-size: 1.1rem;
  }
  .member-boxcover {
    flex-flow: column;
  }
  .member-boxcover {
    margin: 0;
  }
  .member-box {
    width: 100%;
  }
  .member-box:first-child {
    margin-right: 0;
  }
  .member-box:last-child {
    margin-left: 0;
  }
  .member-box img {
    width: 120px;
  }
  .member-box-text {
    height: auto;
    padding: 40px 15px 20px 15px;
  }
  .q-and-a-sercle {
    width: 60px;
    height: 60px;
  }
  .q-and-a-sercle p {
    font-size: 1.2rem;
  }
  #q-and-a-title {
    font-size: 1.3rem;
  }
  .question-mes-note {
    font-size: 1rem;
  }
  .company-box {
    width: 100%;
  }
  .company-box img {
    width: 25%;
    height: 100%;
  }
  .company-box-text {
    padding-left: 10px;
    padding-right: 10px;
  }
  .company-box-text u {
    letter-spacing: 3px;
  }
  .contents-boxcover {
    flex-flow: column;
  }
  .contents-box {
    width: 100%;
  }
  .contents-box:last-child {
    margin: 20px 0 0 0;
  }
  .contents-box-title h3 {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  .flow-show-box {
    display: block;
    padding: 10px;
    width: 350px;
    margin-bottom: 10px;
  }
  .flow-show-box-left {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .flow-show-box-left p {
    margin-left: 15px;
    font-size: 1.4rem;
  }
  .flow-show-box-left p:nth-child(3) {
    margin-left: 0;
  }
  .flow-show-box-left img {
    width: 40px;
    height: 40px;
    margin: 0;
  }
  .flow-show-box-right {
    display: none;
  }
  .why {
    padding: 30px;
    background-image: url(./img/bangkokbgsp.jpg);
  }
  .why-text-box h3 {
    text-align: center;
  }
  .why-text-box ul {
    padding-left: 15px;
  }
  .benefits {
    padding: 50px 20px;
  }
  .saport-more {
    width: 200px;
  }
  .benefits-boxcover {
    display: flex;
    height: 80px;
  }
  .benefits-box {
    width: 20%;
    height: auto;
    flex: none;
  }
  .benefits-box h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0;
    white-space: nowrap;
  }
  .benefits-boxcover p {
    text-align: justify;
    margin: 30px 0 0 10px;
    font-weight: 600;
  }
  .detail {
    background-image: url(./img/specialdetailsp.jpg);
    padding: 40px 5px;
  }
  .detail p {
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
  .nowrap {
    white-space: nowrap;
  }
  .mes-boxcover {
    flex-flow: column;
    width: 100%;
  }
  .mes-box img {
    width: 100%;
  }
  .mes-box:nth-child(2) {
    width: 100%;
    margin-left: 0;
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
  .mes-box:nth-child(2) p:first-child {
    margin-bottom: 10px;
  }
  .mes-box:nth-child(2) p {
    margin-bottom: 30px;
  }
  .last-ques-boxcontent {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
  .last-ques-box p {
    width: 80%;
  }
  #page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ececec;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #page-top .open-tag {
    width: 10px;
    height: 10px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: rotate(-45deg);
    margin-left: 0;
    margin-top: 5px;
    cursor: pointer;
  }
}
